.intro {
  padding: 60px 20px;
  text-align: center;
  
}

.intro h1 {
  font-size: 2.8rem;
  margin-bottom: 10px;
}

.intro-subtitle {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 40px;
}

.intro-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.intro-card {
  background: white;
  padding: 20px;
  max-width: 280px;
  border-radius: 8px;
  text-align: left;
  transition: transform 0.2s ease;
}
.intro-card:hover{
  transform: translateY(-5px);
}

.intro-card h3 {
  margin-bottom: 8px;
  font-size: 1rem;
}

.intro-card p {
  font-size: 0.9rem;
  color: #555;
}